.git_archival.txt  export-subst

# Make GitHub syntax-highlight the templates correctly
*.bat.tmpl linguist-language=bat
*.md.tmpl linguist-language=jinja
*.sh.tmpl linguist-language=sh
*.toml.tmpl linguist-language=toml
*.yml.ci-skel.tmpl linguist-language=yaml
*.yaml.ci-skel.tmpl linguist-language=yaml
*.yml.tmpl linguist-language=yaml
*.yaml.tmpl linguist-language=yaml
