include requirements.txt

recursive-include conda_smithy/feedstock_content *
recursive-include conda_smithy/templates *.tmpl
recursive-include tests/ *

include versioneer.py
include conda_smithy/_version.py
include conda_smithy/licenses.txt
include conda_smithy/license_exception.txt

include LICENSE.txt
