# This list is duplicated in the conda_smithy.recipe/meta.yaml.

setuptools
conda
conda-build==2.1.5
jinja2
requests
pycryptodome
gitpython
pygithub <2
ruamel.yaml
conda-forge-pinning
vsts-python-api
toolz
shellcheck
scrypt
license-expression
setuptools_scm >=7
cirun
