# This list is duplicated in the conda_smithy.recipe/meta.yaml.

setuptools
conda
conda-build >=3.4.2
jinja2
requests
pycryptodome
gitpython
pygithub <2
ruamel.yaml
conda-forge-pinning
vsts-python-api
toolz
shellcheck
