# This list is duplicated in the conda_smithy.recipe/meta.yaml.

conda
conda-build >=3.4.2
conda-forge-pinning
gitpython
jinja2
jsonschema
license-expression
pycryptodome
pygithub <2
requests
ruamel.yaml
scrypt
setuptools
shellcheck
toolz
vsts-python-api
yamllint
