version: 2

jobs:
{%- block env_test -%}
{%- if not configs %}
  build:
    working_directory: ~/test
    machine: true
    branches:
      ignore:
        - /.*/
    steps:
      - run:
          # The Circle-CI build should not be active, but if this is not true for some reason, do a fast finish.
          command: exit 0
{%- else %}
{%- for config in configs %}
  build_{{ config }}:
    working_directory: ~/test
    machine: true
    environment:
      - CONFIG: "{{ config }}"
    steps:
      - checkout
      - run:
          name: Fast finish outdated PRs and merge PRs
          command: |
            ./ci_support/fast_finish_ci_pr_build.sh
            ./ci_support/checkout_merge_commit.sh
      - run:
          command: docker pull {{ docker.image }}
      - run:
          # Run, test and (if we have a BINSTAR_TOKEN) upload the distributions.
          command: ./ci_support/run_docker_build.sh
{%- endfor -%}
{%- endif -%}
{%- endblock %}

workflows:
  version: 2
  build_and_test:
    jobs:
{%- block env_deps -%}
{%- if not configs %}
      - build:
          filters:
            branches:
              ignore:
                - /.*/
{%- else %}
{%- for config in configs %}
      - build_{{ config }}
{%- endfor -%}
{%- endif -%}
{%- endblock %}
{# #}
