{%- block env_branches -%}
{%- if not matrix -%}
general:
  branches:
    ignore:
      - /.*/

{% endif -%}
{% endblock -%}
{% block env_dependencies -%}
{%- if matrix -%}
checkout:
  post:
    - ./ci_support/checkout_merge_commit.sh

machine:
  services:
    - docker

dependencies:
  # Note, we used to use the naive caching of docker images, but found that it was quicker
  # just to pull each time. #rollondockercaching
  override:
    - docker pull condaforge/linux-anvil

{% endif -%}
{% endblock -%}
test:
  override:
{%- block env_test %}
{%- if matrix %}
    # Run, test and (if we have a BINSTAR_TOKEN) upload the distributions.
    - ./ci_support/run_docker_build.sh
{% else %}
    # The Circle-CI build should not be active, but if this is not true for some reason, do a fast finish.
    - exit 0
{% endif -%}
{%- endblock %}
