#!/usr/bin/env bash

set -e

export PYTHONUNBUFFERED=1

cat >~/.condarc <<CONDARC

channels:
{%- for channel in channels.get('sources', []) %}
 - {{ channel }}
{%- endfor %}

conda-build:
 root-dir: /home/conda/feedstock_root/build_artifacts

show_channel_urls: true

CONDARC

# A lock sometimes occurs with incomplete builds. The lock file is stored in build_artifacts.
conda clean --lock

conda install --yes --quiet conda-forge-ci-setup=1
{% if build_setup -%}
{{ build_setup }}{% endif -%}

conda build /home/conda/recipe_root -m /home/conda/feedstock_root/.ci_support/${CONFIG}.yaml --quiet
{%- for owner, channel in channels['targets'] %}
{{ upload_script }} /home/conda/recipe_root {{ owner }} --channel={{ channel }} -m /home/conda/feedstock_root/.ci_support/${CONFIG}.yaml
{%- endfor %}

touch /home/conda/feedstock_root/build_artifacts/conda-forge-build-done
