{%- set arch_map = {'64': 'amd64', 'aarch64': 'arm64'} -%}
{% if configs[0] -%}
{%- for data in configs -%}
{%- if 'linux' in data.build_platform -%}
---
kind: pipeline
name: {{ data.short_config_name }}

platform:
  os: linux
  arch: {{ arch_map[data.build_platform.split("-")[1]] }}

{%- if clone_depth is not none %}
clone:
  depth: {{ clone_depth }}
{%- endif %}

steps:
- name: Install and build
  image: {{ data.config["docker_image"][-1] }}
  environment:
    CONFIG: {{ data.config_name }}
    UPLOAD_PACKAGES: {{ data.upload }}
    PLATFORM: {{ data.platform }}
{%- for secret in secrets %}
    {{ secret }}:
      from_secret: {{ secret }}
{%- endfor %}

  {%- if 'linux' in data.build_platform %}
  commands:
    - export FEEDSTOCK_ROOT="$DRONE_WORKSPACE"
    - export RECIPE_ROOT="$FEEDSTOCK_ROOT/{{ recipe_dir }}"
    - export CI=drone
    - export GIT_BRANCH="$DRONE_BRANCH"
    - export FEEDSTOCK_NAME=$(basename ${DRONE_REPO_NAME})
{%- if upload_on_branch %}
    - export UPLOAD_ON_BRANCH="{{ upload_on_branch }}"
{%- endif %}
    - sed -i '$ichown -R conda:conda "$FEEDSTOCK_ROOT"' /opt/docker/bin/entrypoint
    - /opt/docker/bin/entrypoint $FEEDSTOCK_ROOT/.scripts/build_steps.sh
    - echo "Done building"
  {%- endif %}
{% endif %}
{% endfor %}
{%- endif %}
