{% if configs[0] -%}
{%- for config, platform, upload in configs | sort -%}
---
kind: pipeline
name: {{ config }}

platform:
  os: linux
  arch: arm64

steps:
- name: Install and build
  image: {{ docker.image }}
  environment:
    CONFIG: {{ config }}
    UPLOAD_PACKAGES: {{ upload }}
    PLATFORM: {{ platform }}
    #BINSTAR_TOKEN: ""
  commands:
  {%- if 'linux' in platform %}
    - export FEEDSTOCK_ROOT="$CI_WORKSPACE"
    - export RECIPE_ROOT="$FEEDSTOCK_ROOT/recipe"
    - export CI=drone
    - . /opt/conda/bin/activate
    - ./.drone/build_steps.sh
    - echo "Done building"
  {%- endif %}
{% endfor %}
{%- endif %}

