{% if configs[0] -%}
{%- for data in configs -%}
---
kind: pipeline
name: {{ data.short_config_name }}

platform:
  os: linux
  arch: arm64

steps:
- name: Install and build
  image: {{ data.config["docker_image"][-1] }}
  environment:
    CONFIG: {{ data.config_name }}
    UPLOAD_PACKAGES: {{ data.upload }}
    PLATFORM: {{ data.platform }}
    BINSTAR_TOKEN:
      from_secret: BINSTAR_TOKEN
{%- if conda_forge_output_validation %}
    FEEDSTOCK_TOKEN:
      from_secret: FEEDSTOCK_TOKEN
{%- endif %}

  {%- if 'linux' in data.platform %}
  commands:
    - export FEEDSTOCK_ROOT="$DRONE_WORKSPACE"
    - export RECIPE_ROOT="$FEEDSTOCK_ROOT/{{ recipe_dir }}"
    - export CI=drone
    - export GIT_BRANCH="$DRONE_BRANCH"
{%- if upload_on_branch %}
    - export UPLOAD_ON_BRANCH="{{ upload_on_branch }}"
{%- endif %}
    - sed -i '$ichown -R conda:conda "$FEEDSTOCK_ROOT"' /opt/docker/bin/entrypoint
    - /opt/docker/bin/entrypoint $FEEDSTOCK_ROOT/.scripts/build_steps.sh
    - echo "Done building"
  {%- endif %}

{% endfor %}
{%- endif %}
