#!/usr/bin/env bash

set -ex

# Commas added to facilitate poor man's list membership matching.
# This ensures that we can match any member without accidentally matching substrings.
FREE_DISK_SPACE=,${1},

df -h

if [[ ${FREE_DISK_SPACE} == *,cache,* ]]; then
  case ${OS} in
    ubuntu)
      DIRS_TO_REMOVE=(
        /opt/ghc
        /opt/hostedtoolcache
        /usr/lib/jvm
        /usr/local/.ghcup
        /usr/local/lib/android
        /usr/local/share/powershell
        /usr/share/dotnet
        /usr/share/swift
      )

      sudo rm -rf "${DIRS_TO_REMOVE[@]}"
      ;;
    macos)
      # TODO
      ;;
    windows)
      DIRS_TO_REMOVE=(
        C:/hostedtoolcache/windows
      )

      # rm is one of the fastest methods to remove files on Windows
      rm -rf "${DIRS_TO_REMOVE[@]}"
      ;;
  esac
fi

if [[ ${FREE_DISK_SPACE} == *,apt,* && ${OS} == ubuntu ]]; then
  BROWSERS="firefox google-chrome-stable microsoft-edge-stable"
  BROWSERS_TO_REMOVE=$(dpkg --get-selections $BROWSERS 2>/dev/null | awk '{print $1}')
  sudo apt-get remove --purge -y $BROWSERS_TO_REMOVE

  sudo apt-get autoremove -y >& /dev/null
  sudo apt-get autoclean -y >& /dev/null
fi

if [[ ${FREE_DISK_SPACE} == *,docker,* && ${OS} == ubuntu ]]; then
  sudo docker image prune --all --force
fi

df -h
