{%- set channel_name = channels.targets[0][0] -%}

About {{ package_name }}
======{{ '=' * package_name|length }}

Home: {{ package.meta.about.home }}

Package license: {{ package.meta.about.license }}

Feedstock license: BSD 3-Clause

Summary: {{ package.meta.about.summary }}

{% if package.meta.about.description %}{{ package.meta.about.description }}{% endif %}

Current build status
====================
{%- set appveyor_url_name = github.repo_name.replace('_', '-').replace('.', '-') %}
{%- set shield = "https://img.shields.io/" %}
{# #}

{%- if noarch_python %}
{%- if circle.enabled %}
All platforms:
[![noarch]({{ shield }}circleci/project/github/{{ github.user_or_org }}/{{ github.repo_name }}/{{ github.branch_name }}.svg?label=noarch)](https://circleci.com/gh/{{ github.user_or_org }}/{{ github.repo_name }})
{%- else %}
All platforms: ![noarch disabled]({{ shield }}badge/noarch-disabled-lightgrey.svg)
{%- endif %}
{%- else %}
{%- if circle.enabled %}
[![{{ circle.platforms }}]({{ shield }}circleci/project/github/{{ github.user_or_org }}/{{ github.repo_name }}/{{ github.branch_name }}.svg?label={{ circle.platforms }})](https://circleci.com/gh/{{ github.user_or_org }}/{{ github.repo_name }})
{%- endif %}
{%- if travis.enabled %}
[![OSX]({{ shield }}travis/{{ github.user_or_org }}/{{ github.repo_name }}/{{ github.branch_name }}.svg?label=macOS)](https://travis-ci.org/{{ github.user_or_org }}/{{ github.repo_name }})
{%- endif %}
{%- if appveyor.enabled %}
[![Windows]({{ shield }}appveyor/ci/{{ github.user_or_org }}/{{ github.repo_name }}/{{ github.branch_name }}.svg?label=Windows)](https://ci.appveyor.com/project/{{ github.user_or_org }}/{{ appveyor_url_name }}/branch/{{ github.branch_name }})
{%- endif %}
{%- if not linux.enabled %}
![Linux disabled]({{ shield }}badge/linux-disabled-lightgrey.svg)
{%- endif %}
{%- if not osx.enabled %}
![OSX disabled]({{ shield }}badge/OSX-disabled-lightgrey.svg)
{%- endif %}
{%- if not win.enabled %}
![Windows disabled]({{ shield }}badge/Windows-disabled-lightgrey.svg)
{%- endif %}
{%- endif %}

Current release info
====================

| Name | Downloads | Version | Platforms |
| --- | --- | --- | --- |
{%- for output in outputs %}
| [![Conda Recipe]({{ shield }}badge/recipe-{{ output.replace('-','--') }}-green.svg)](https://anaconda.org/{{ channel_name }}/{{ output }}) | [![Conda Downloads]({{ shield }}conda/dn/{{ channel_name }}/{{ output }}.svg)](https://anaconda.org/{{ channel_name }}/{{ output }}) | [![Conda Version]({{ shield }}conda/vn/{{ channel_name }}/{{ output }}.svg)](https://anaconda.org/{{ channel_name }}/{{ output }}) | [![Conda Platforms]({{ shield }}conda/pn/{{ channel_name }}/{{ output }}.svg)](https://anaconda.org/{{ channel_name }}/{{ output }}) |
{%- endfor %}

Installing {{ package_name }}
==========={{ '=' * package_name|length }}

Installing `{{ package_name }}` from the `{{ channel_name }}` channel can be achieved by adding `{{ channel_name }}` to your channels with:

```
conda config --add channels {{ channel_name }}
```

Once the `{{ channel_name }}` channel has been enabled, `{{ ', '.join(outputs) }}` can be installed with:

```
conda install {{ ' '.join(outputs) }}
```

It is possible to list all of the versions of `{{ outputs[0] }}` available on your platform with:

```
conda search {{ outputs[0] }} --channel {{ channel_name }}
```

{% if channel_name == 'conda-forge' %}
About conda-forge
=================

conda-forge is a community-led conda channel of installable packages.
In order to provide high-quality builds, the process has been automated into the
conda-forge GitHub organization. The conda-forge organization contains one repository
for each of the installable packages. Such a repository is known as a *feedstock*.

A feedstock is made up of a conda recipe (the instructions on what and how to build
the package) and the necessary configurations for automatic building using freely
available continuous integration services. Thanks to the awesome service provided by
[CircleCI](https://circleci.com/), [AppVeyor](https://www.appveyor.com/)
and [TravisCI](https://travis-ci.org/) it is possible to build and upload installable
packages to the [conda-forge](https://anaconda.org/conda-forge)
[Anaconda-Cloud](https://anaconda.org/) channel for Linux, Windows and OSX respectively.

To manage the continuous integration and simplify feedstock maintenance
[conda-smithy](https://github.com/conda-forge/conda-smithy) has been developed.
Using the ``conda-forge.yml`` within this repository, it is possible to re-render all of
this feedstock's supporting files (e.g. the CI configuration files) with ``conda smithy rerender``.

For more information please check the [conda-forge documentation](https://conda-forge.org/docs/).

Terminology
===========

**feedstock** - the conda recipe (raw material), supporting scripts and CI configuration.

**conda-smithy** - the tool which helps orchestrate the feedstock.
                   Its primary use is in the construction of the CI ``.yml`` files
                   and simplify the management of *many* feedstocks.

**conda-forge** - the place where the feedstock and smithy live and work to
                  produce the finished article (built conda distributions)
{%- endif %}


Updating {{ package_name }}-feedstock
========={{ '=' * package_name|length }}==========

If you would like to improve the {{ package_name }} recipe or build a new
package version, please fork this repository and submit a PR. Upon submission,
your changes will be run on the appropriate platforms to give the reviewer an
opportunity to confirm that the changes result in a successful build. Once
merged, the recipe will be re-built and uploaded automatically to the
`{{ channel_name }}` channel, whereupon the built conda packages will be available for
everybody to install and use from the `{{ channel_name }}` channel.
Note that all branches in the {{ github.user_or_org }}/{{ package_name }}-feedstock are
immediately built and any created packages are uploaded, so PRs should be based
on branches in forks and branches in the main repository should only be used to
build distinct package versions.

In order to produce a uniquely identifiable distribution:
 * If the version of a package **is not** being increased, please add or increase
   the [``build/number``](https://conda.io/docs/user-guide/tasks/build-packages/define-metadata.html#build-number-and-string).
 * If the version of a package **is** being increased, please remember to return
   the [``build/number``](https://conda.io/docs/user-guide/tasks/build-packages/define-metadata.html#build-number-and-string)
   back to 0.
