#!/usr/bin/env bash

set -x

echo "Removing homebrew from Circle CI to avoid conflicts."
curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
chmod +x ~/uninstall_homebrew
~/uninstall_homebrew -fq
rm ~/uninstall_homebrew

echo "Installing a fresh version of Miniconda."
MINICONDA_URL="https://repo.continuum.io/miniconda"
MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
bash $MINICONDA_FILE -b

echo "Configuring conda."
source ~/miniconda3/bin/activate root

export utils=./.circleci/build_utils.py

$utils mangle_compiler ./.ci_support/${CONFIG}.yaml
$utils setup_conda ./.ci_support/${CONFIG}.yaml
conda install --yes --quiet conda-forge-ci-setup=1

{% if build_setup -%}
{{ build_setup }}
{%- endif %}

set -e

$utils make_build_number ./{{ recipe_dir }} ./.ci_support/${CONFIG}.yaml

conda build ./{{ recipe_dir }} -m ./.ci_support/${CONFIG}.yaml --clobber-file ./.ci_support/clobber_${CONFIG}.yaml

$utils upload_package ./{{ recipe_dir }} ./.ci_support/${CONFIG}.yaml
