{%- extends "run_docker_build.tmpl" -%}
{% macro matrix_env(matrix_item) -%}
  {%- for dep_name, version in matrix_item %}
    export {{ dep_name }}={{version }}
  {%- endfor %}
{%- endmacro -%}

{%- block build -%}
  # Embarking on {{ matrix|length }} case(s).
{%- for case in matrix %}
  {%- if case %}
    set -x
    {{- matrix_env(case) }}
    set +x
  {%- endif -%}
  {{- super()|indent(4) }}
{% endfor %}{% endblock -%}
{%- block test_and_upload -%}{% for case in matrix -%}
    {{ matrix_env(case) }}
    {{- super()|indent(4) }}
{%- endfor -%}{% endblock -%}
