#!/usr/bin/env bash

set -x

echo "Removing homebrew from Circle CI to avoid conflicts."
curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
chmod +x ~/uninstall_homebrew
~/uninstall_homebrew -fq
rm ~/uninstall_homebrew

echo "Installing a fresh version of Miniconda."
MINICONDA_URL="https://repo.continuum.io/miniconda"
MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
bash $MINICONDA_FILE -b

echo "Downloading sdk"
curl -L -O https://github.com/phracker/MacOSX-SDKs/releases/download/10.13/MacOSX10.9.sdk.tar.xz
tar -xf MacOSX10.9.sdk.tar.xz -C $(xcode-select -p)/Platforms/MacOSX.platform/Developer/SDKs/
sed -i '' "s|<string>10.11</string>|<string>10.9</string>|g" $(xcode-select -p)/Platforms/MacOSX.platform/Info.plist

echo "Configuring conda."
source ~/miniconda3/bin/activate root
conda config --remove channels defaults
{%- for channel in channels.get('sources', [])|reverse %}
conda config --add channels {{ channel }}
{%- endfor %}
conda config --set show_channel_urls true
conda install --yes --quiet conda-forge-ci-setup=1
{% if build_setup -%}
{{ build_setup }}
{%- endif %}
set -e
conda build ./{{ recipe_dir }} -m ./.ci_support/${CONFIG}.yaml
{% for owner, channel in channels['targets'] %}
{{ upload_script }} ./{{ recipe_dir }} {{ owner }} --channel={{ channel }} -m ./.ci_support/${CONFIG}.yaml
{% endfor %}

