# This file is just a parsable YAML that collects all the actions used by
# conda_smithy/templates/github-actions.yml.tmpl. It's here so dependabot
# can pick it up and then we can test whether the actions are up-to-date in
# the template.
on:
  workflow_dispatch:

jobs:
  inventory:
    runs-on: ubuntu-latest
    if: false
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
