# This file is just a parsable YAML that collects all the actions used by
# conda_smithy/templates/github-actions.yml.tmpl. It's here so dependabot
# can pick it up and then we can test whether the actions are up-to-date in
# the template.
on:
  workflow_dispatch:

jobs:
  inventory:
    runs-on: ubuntu-latest
    if: false
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
