name: tests

on:
  push:
    branches:
      - main
  pull_request: null

jobs:
  tests:
    name: tests
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: 3.8
          channels: conda-forge,defaults
          channel-priority: strict
          show-channel-urls: true
          miniforge-version: latest
          miniforge-variant: Mambaforge
          use-mamba: true

      - name: install code and deps
        shell: bash -l {0}
        run: |
          mamba install --file requirements.txt \
            pre-commit coverage coveralls mock pytest pytest-cov pip ${CONDA_PKGS} \
            --yes
          python -m pip install -v -e .
          git config --global user.email "smithy@smithy.smithy"
          git config --global user.name "smithy"

      - name: run pre-commit hooks
        shell: bash -l {0}
        run: |
          pre-commit run -a

      - name: run tests
        shell: bash -l {0}
        run: |
          pytest tests --cov conda_smithy
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: compute coverage
        shell: bash -l {0}
        run: |
          coverage combine || echo "no coverage data to combine maybe"
          coveralls --service=github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
